@import "theme.light";
@import "theme.dark";
@import "theme.user";

select {
padding-left: 15px;
padding-right: 15px;
background: rgba(0, 0, 0, 0);
font-size: 12px;
color: silver;
text-align: center;
outline: none;
border: 1px rgb(110, 134, 174) solid;
border-radius: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
-webkit-appearance: none !important;
}
input[type="number"]{
-moz-appearance: textfield;
}

.common-boxsize-full {
    width: 100%; height: 100%;
}

.common-boxsize-full-number {
width: calc(100vw);height: calc(100vh);
}

.common-boxsize-fit {
width: fit-content; height: fit-content;
}

.common-boxsize-background {
    background: $light-color-translucent-low;
    .theme-light & {
        background: $light-color-translucent-low;
    }
    .theme-dark & {
        background: $dark-color-translucent-low;
    }
    .theme-user & {
        background: $user-color-translucent-low;
    }
}

.common-solid-input {
padding: 0px 12px 0px 12px;
text-align: left;
background: rgba(0, 0, 0, 0);
border-style: solid;
border-color: rgb(94,94,94);
border-width: 1px;
border-radius: 12px;
color: rgb(255,255,255);
font-size: 12px;
outline: none;
box-sizing: border-box;
}

.common-spline-x {
    width: 100%;
    height: 1px;
    background: $light-color-translucent-low;
    .theme-light & {
        background: $light-color-translucent-low;
    }
    .theme-dark & {
        background: $dark-color-translucent-low;
    }
    .theme-user & {
        background: $user-color-translucent-low;
    }
}

.common-spline-y {
    width: 1px;
    height: 100%;
    background: $light-color-translucent-low;
    .theme-light & {
        background: $light-color-translucent-low;
    }
    .theme-dark & {
        background: $dark-color-translucent-low;
    }
    .theme-user & {
        background: $user-color-translucent-low;
    }
}

.common-spline-select {
    background: $light-color-theme;
    .theme-light & {
        background: $light-color-theme;
    }
    .theme-dark & {
        background: $dark-color-theme;
    }
    .theme-user & {
        background: $user-color-theme;
    }
}

.common-input {
border-width: 0;
outline: none;
border-radius: 6px;
background: rgb(31,31,31);
font-size: 12px;
text-align: center;
color: rgb(204, 204, 204);
}

.common-overflow-y {
overflow-x: hidden;
overflow-y: auto;
}

.common-lottery-bull {
display:flex;
justify-content:center;
align-items:center;
width:18px;
height:18px;
font-size:10px;
color:white;
border-radius:100%
}

.common-underline {
text-decoration: underline;
}

.common-spin-90 {
transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
}

@-webkit-keyframes rotate{
0%{ -webkit-transform: rotate(0deg);}
50%{ -webkit-transform: rotate(180deg);}
100%{ -webkit-transform: rotate(360deg);}
}

@keyframes rotate{
0%{ -webkit-transform: rotate(0deg);}
50%{ -webkit-transform: rotate(180deg);}
100%{ -webkit-transform: rotate(360deg);}
}

.common-rotate {
-webkit-animation: rotate 0.5s linear infinite;
animation: rotate 0.5s linear infinite;
}

// 阴影效果
.common-card-glass {
margin: 0 auto;
padding: 1em;
max-width: 30em;
border-radius: 0.3em;
box-shadow: 0 0 0 1px hsla(0, 0%, 20%, 0.3) inset,
0 .5em 1em rgba(0, 0, 0, 0.6);
text-shadow: 0 1px 1px hsla(0, 0%, 20%, 0.3);
background: hsla(0, 0%, 20%, 0.3);
}

.common-text-singleline {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap
}

.common-input-text-none {
color: #B0B0B0;
outline: medium;
border: none;
background: transparent
}

.common-fixed-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

// 盒子通用样式
.display-center {
display: flex;
justify-content: center;
align-items: center;
}

.display-around {
display: flex;
justify-content: space-around;
align-items: center;
}

.display-space {
display: flex;
justify-content: space-between;
align-items: center;
}

.display-column {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.display-warp {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.display-warp-start {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: flex-start;
text-align: center;
}

.display-warp-around {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: flex-end
}

.display-start {
display: flex;
justify-content: flex-start;
align-items: center;
}

.display-end {
display: flex;
justify-content: flex-end;
align-items: center;
}

// 内部波纹点击效果
.click-in-ripple {
position: relative;
overflow: hidden; /* 隐藏溢出的径向渐变背景 */
}

.click-in-ripple:after {
content: "";
display: block;
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
pointer-events: none;
background-image: radial-gradient(circle, $light-color-click-ripple-background 8%, transparent 8%);
.theme-light & {
background-image: radial-gradient(circle, $light-color-click-ripple-background 8%, transparent 8%);
}
.theme-dark & {
background-image: radial-gradient(circle, $dark-color-click-ripple-background 8%, transparent 8%);
}
.theme-user & {
background-image: radial-gradient(circle, $user-color-click-ripple-background 8%, transparent 8%);
}
background-repeat: no-repeat;
background-position: 50%;
transform: scale(10, 10);
opacity: 0;
transition: transform .4s, opacity .6s;
}

.click-in-ripple:active:after {
transform: scale(0, 0);
opacity: .3;
transition: 0s;
}

// 溢出波纹点击效果
.click-out-ripple {
position: relative;
}

.click-out-ripple:focus{
outline: none;
}

.click-out-ripple:after {
content: '';
display: block;
position: absolute;
top: -15px; /*扩大伪类元素4个方向各15px*/
left: -15px;
right: -15px;
bottom: -15px;
pointer-events: none;
background-color: $light-color-click-ripple-background;
.theme-light & {
background-color: $light-color-click-ripple-background;
}
.theme-dark & {
background-color: $dark-color-click-ripple-background;
}
.theme-user & {
background-color: $user-color-click-ripple-background;
}
background-repeat: no-repeat;
background-position: 50%;
opacity: 0;
border-radius: inherit;
transition: all .3s;
}

.click-out-ripple:active:after {
opacity: .2;
top: 0;
left: 0;
right: 0;
bottom: 0;
transition: 0s;
}

// 布局类型样式
.pos-relative {
position: relative;
width: 100%;
height: 100%;
}

.pos-absolute {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
}

.pos-absolute-nosize {
position: absolute;
top: 0px;
left: 0px;
}
