@import './theme.light.scss';
@import './theme.dark.scss';
@import './theme.user.scss';

.comp-gesture-lock-root {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: $light-color-theme;
    .theme-dark & {
        color: $dark-color-theme;
    }
    .theme-user & {
        color: $user-color-theme;
    }
}

.comp-gesture-lock-canvas {
    width: 100%;
}
