@import "theme.light";
@import "theme.dark";
@import "theme.user";

// 实心按钮
.comp-button-solid {
    width: 100%;
    height: 40px;

    border-radius: 16px;
    
    background: $light-color-theme;

    font-size: 14px;

    color: $light-color-theme-font-anit;

    .theme-light & {
        background: $light-color-theme;

        color: $light-color-theme-font-anit;
    }
    .theme-dark & {
        background: $dark-color-theme;

        color: $dark-color-theme-font-anit;
    }
    .theme-user & {
        background: $user-color-theme;

        color: $user-color-theme-font-anit;
    }
}

// 空心按钮
.comp-button-hollow {
    width: 100%;
    height: 40px;

    border: 2px solid $light-color-theme;
    
    border-radius: 16px;
    
    background: rgba(0,0,0,0);
    
    font-size: 14px;

    color: $light-color-theme;

    .theme-light & {
        border: 2px solid $light-color-theme;

        border-radius: 16px;

        color: $light-color-theme;
    }
    .theme-dark & {
        border: 2px solid $dark-color-theme;

        border-radius: 16px;

        color: $dark-color-theme;
    }
    .theme-user & {
        border: 2px solid $user-color-theme;

        border-radius: 16px;

        color: $user-color-theme;
    }
}

.comp-list-button-root {
    width: 100%;
    height: 34px;
    border: 1px solid $light-color-theme;
    border-radius: 16px;
    background: rgba(0,0,0,0);
    font-size: 12px;
    color: $light-color-theme-font-anit;
}

.comp-list-button-start {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.comp-list-button-end {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.comp-list-button-select {
    height: 100%;
    background: $light-color-theme;
    color: inherit;
}

.comp-list-button-unsele {
    height: '100%';
    background: inherit;
    color: $light-color-theme-font;
}
