@import "theme.light";
@import "theme.dark";
@import "theme.user";

.scenes-category-list-root {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.scenes-category-list-cont-root {
    width: calc(100vw - 48px - 50px);
    margin-left: 16px;
}

.scenes-category-list-imag {
    width: 50px;
}

.scenes-category-list-item-root {
    width: 23.5%;
    height: 42px;
    border-radius: 6px;
    background: $light-color-translucent-low;
    font-size: 12px;
    color: $light-color-theme-font;
    .theme-light & {
        background: $light-color-translucent-low;
        color: $light-color-theme-font;
    }
    .theme-dark & {
        background: $dark-color-translucent-low;
        color: $dark-color-theme-font;
    }
    .theme-user & {
        background: $user-color-translucent-low;
        color: $user-color-theme-font;
    }
}

.scenes-category-list-item-name {
    font-weight: bold;
}

.scenes-category-list-item-tips-status-1 {
    color: rgb(170, 185, 197);
}

.scenes-category-list-item-tips-status-2 {
    color: gray;
}

.scenes-category-list-item-tips-status-3 {
    color: $light-color-theme;
    .theme-light & {
        color: $light-color-theme;
    }
    .theme-dark & {
        color: $dark-color-theme;
    }
    .theme-user & {
        color: $user-color-theme;
    }
}

.scenes-category-list-item-tips {
    font-size: 10px;
    margin-top: 3px;
}

.scenes-category-list-item-margin {
    margin-top: 6px;
}
