// 深色主题配置
// theme
$user-color-theme: rgb(204,163,82);
$user-color-theme-font: black;
$user-color-theme-font-anit: white;

// 半透明
$user-color-translucent:rgba(80,80,80,0.2);
$user-color-translucent-low:rgba(80,80,80,0.1);

// screen
$user-color-screen-background: rgb(30,30,30);
$user-color-screen-font: white;
$user-color-screen-font-easy: rgb(128,128,128);

// toolbar
$user-color-toolbar-background: rgb(12,12,12);
$user-color-toolbar-shadow: rgb(0,0,0) 0px 0px 5px 0px;
$user-color-toolbar-font: white;

// modal
$user-color-modal-background: rgba(80,80,80,0.1);

// refresh
$user-color-minirefresh-font: rgb(128,128,128);

// click ripple
$user-color-click-ripple-background: rgb(250,250,250);

// message
$user-color-message-background: rgb(12,12,12);

// toast
$user-color-toast-background: rgba(80,80,80,0.65);
$user-color-toast-font: white;

// spiner
$user-color-spiner-font: rgb(245,245,245);

// navbar
$user-color-navbar-background: rgba(0,0,0,0);
$user-color-navbar-select-font: rgb(204,163,82);
$user-color-navbar-select-unline: rgb(204,163,82);
$user-color-navbar-unsele-font: black;
$user-color-navbar-unsele-unline: rgba(0,0,0,0);

// drawer
$user-color-drawer-mask-background: rgba(80,80,80,0.1);
