// 深色主题配置
// theme
$dark-color-theme: rgb(204,163,82);
$dark-color-theme-font: white;
$dark-color-theme-font-anit: black;

// 半透明
$dark-color-translucent:rgba(80,80,80,0.2);
$dark-color-translucent-low:rgba(80,80,80,0.1);

// active
$dark-color-active-background: rgb(30,30,30);
$dark-color-active-font: white;
$dark-color-active-font-easy: rgb(128,128,128);

// toolbar
$dark-color-toolbar-background: rgb(12,12,12);
$dark-color-toolbar-font: white;

// window
$dark-color-window-background: rgba(80,80,80,0.1);

// refresh
$dark-color-minirefresh-font: rgb(128,128,128);

// click ripple
$dark-color-click-ripple-background: rgb(250,250,250);

// message
$dark-color-message-background: rgb(12,12,12);

// toast
$dark-color-toast-background: rgba(80,80,80,0.65);
$dark-color-toast-font: white;

// spiner
$dark-color-spiner-font: rgb(245,245,245);

// navbar
$dark-color-navbar-background: rgba(0,0,0,0);
$dark-color-navbar-select-font: rgb(204,163,82);
$dark-color-navbar-select-unline: rgb(204,163,82);
$dark-color-navbar-unsele-font: white;
$dark-color-navbar-unsele-unline: rgba(0,0,0,0);
