// 高亮主题配置
// theme
$light-color-theme: rgb(236,110,59);
$light-color-theme-font: black;
$light-color-theme-font-anit: white;

// 半透明
$light-color-translucent:rgba(0,0,0,0.2);
$light-color-translucent-low:rgba(0,0,0,0.1);

// screen
$light-color-screen-background: rgb(205,205,205);
$light-color-screen-font: black;
$light-color-screen-font-easy: rgb(128,128,128);

// toolbar
$light-color-toolbar-background: white;
$light-color-toolbar-shadow: rgb(128,128,128) 0px 0px 5px 0px;
$light-color-toolbar-font: black;

// modal
$light-color-modal-background: rgba(0,0,0,0.1);

// refresh
$light-color-minirefresh-font: rgb(128,128,128);

// click ripple
$light-color-click-ripple-background: rgb(0,0,0);

// message
$light-color-message-background: white;

// toast
$light-color-toast-background: rgba(80,80,80,0.65);
$light-color-toast-font: white;

// spiner
$light-color-spiner-font: rgb(40,40,40);

// navbar
$light-color-navbar-background: rgba(0,0,0,0);
$light-color-navbar-select-font: rgb(236,110,59);
$light-color-navbar-select-unline: rgb(236,110,59);
$light-color-navbar-unsele-font: black;
$light-color-navbar-unsele-unline: rgba(0,0,0,0);

// drawer
$light-color-drawer-mask-background: rgba(0,0,0,0.2);

// keyboard
$light-color-number-keyboard-background: gray;
$light-color-number-keyboard-shadow: 0 -2px 8px rgba(0,0,0,0.3);
$light-color-number-keyboard-button: #505050;
$light-color-number-keyboard-font: white;
