// 高亮主题配置
// theme
$light-color-theme: rgb(236,110,59);
$light-color-theme-font: black;
$light-color-theme-font-anit: white;

// 半透明
$light-color-translucent:rgba(0,0,0,0.2);
$light-color-translucent-low:rgba(0,0,0,0.1);

// active
$light-color-active-background: rgb(205,205,205);
$light-color-active-font: black;
$light-color-active-font-easy: rgb(128,128,128);

// toolbar
$light-color-toolbar-background: white;
$light-color-toolbar-shadow: rgb(128,128,128);
$light-color-toolbar-font: black;

// window
$light-color-window-background: rgba(0,0,0,0.1);

// refresh
$light-color-minirefresh-font: rgb(128,128,128);

// click ripple
$light-color-click-ripple-background: rgb(0,0,0);

// message
$light-color-message-background: white;

// toast
$light-color-toast-background: rgba(80,80,80,0.65);
$light-color-toast-font: white;

// spiner
$light-color-spiner-font: rgb(40,40,40);

// navbar
$light-color-navbar-background: rgba(0,0,0,0);
$light-color-navbar-select-font: rgb(236,110,59);
$light-color-navbar-select-unline: rgb(236,110,59);
$light-color-navbar-unsele-font: black;
$light-color-navbar-unsele-unline: rgba(0,0,0,0);
